// VARIABLES

// COLOR
$primary-color: pink;


// LAYOUT
$base-spacing: 30px;
$grid-columns: 16;
$grid-gutters: 0;
$layout-margin: $base-spacing;


// TYPE
$font-small: 16px;
$font-regular: 36px;
$font-medium: 65px;
$font-large: 85px;
$font-huge: 170px;
